.top-bar {
    padding: 0.7em 1.7em;

    /* color: white; */
    background: black;
    display: flex;
    flex-direction: row;
}

.top-bar-pages {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    flex-grow: 1;
}

.top-bar-pages > a, .top-bar-user > a {
    color: var(--default-fore);
    font-weight: 500;
    text-decoration: none;
    display: flexbox;
}